<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/gestium_platform/assets/css/sidebar.css">
    <title>Sidebar Dashboard</title>
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
          <h2>Gestium</h2>
        </div>
        <div class="sidebar-buttons">
          <button id="new-folder-btn" class="sidebar-btn">+ Nueva Carpeta</button>
          <button id="new-project-btn" class="sidebar-btn">+ Nuevo Proyecto</button>
        </div>
      </aside>
      
</body>
</html>