/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Contenedor principal */
  .dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Header */
  .header-container {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  /* Contenedor del cuerpo */
  .content-container {
    display: flex;
    margin-top: 60px; /* Altura del header */
    height: calc(100vh - 60px);
  }
  
  /* Sidebar */
  .sidebar-frame {
    width: 250px;
    height: 100%;
    border-right: 1px solid #ddd;
  }
  
  /* Área principal */
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  